/* === ALL === */

header,
.hero-content,
.main-section,
.info-section,
footer
{ padding: 0 1.5em; }

.bar-line {
    /* background: var(--very-light-gray); */
    display: none;
    width: 150px;
    height: 2px;
    margin-bottom: 3em;
}

.cta-btn {
    transition: all 0.2s ease;
    
    border: 2px solid var(--very-light-gray);
    background: initial;
    color: var(--very-light-gray);
    
    font-size: 0.8125rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 2em;
}

.cta-btn:hover {
    background: var(--very-light-gray);
    color: var(--dark-gray);
}

/* === HEADER === */

.header {
    --nav-size: 10vh; 
    background: #ffffff;
    width: 100%;
    height: var(--nav-size);
}

.header > div {
    /* position: relative; */
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    /* padding: 0 1.5em; */
}

/*  */

.logo,
.nav-bar,
.nav-bar ul,
.nav-bar li,
.nav-bar a,
.menu-bar
{
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo { 
    font-family: var(--Krona); 
    font-weight: 100;
}

.nav-bar li:not(:first-child) { margin-left: 1.25em; }

.nav-bar a {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    height: initial;
}

.nav-bar:hover a:not(.cta-link) { color: var(--light-gray); }
.nav-bar a:hover:not(.cta-link) { color: var(--dark-gray); }


.cta-link {
    transition: all 0.2s ease;
    
    border: 2px solid var(--dark-gray);
    background: initial;
    color: var(--dark-gray);
    padding: 0.75em 1.625em;
}

.cta-link:hover {
    background: var(--dark-gray);
    color: var(--very-light-gray);
}

/*  */

#menu-btn { position: absolute; display: none; }

.menu-bar { 
    --box-size: 40px;
    cursor: pointer; 
    
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    line-height: calc(var(--box-size) - 5px);
}

.menu-bar::before,
.menu-bar::after
{ 
    border: 2px solid var(--dark-gray);
    color: var(--dark-gray);
    width: var(--box-size);
    height: var(--box-size);
}

.menu-bar::before { content: "="; }
.menu-bar::after { content: "⨯"; display: none; }

#menu-btn:checked ~ .menu-bar::before { display: none; }
#menu-btn:checked ~ .menu-bar::after { display: initial; }

.menu-bar { display: none; }



@media (max-width: 655px) {
    .menu-bar { display: flex; }

    .nav-bar,
    .nav-bar ul,
    .nav-bar li,
    .nav-bar a
    { 
        width: 100%; 
        height: 0;
    }

    .nav-bar {
        background-color: var(--very-dark-violet) !important;
        background: 
            url("../images/other/bg-pattern/bg-pattern-mobile-nav.svg")
            bottom no-repeat
        ;
        background-size: contain;
        
        position: absolute;
        /* top: 100%; */
        top: var(--nav-size);
        left: 0;
        align-items: initial;
    }

    .nav-bar ul { flex-flow: column; }
    .nav-bar li { margin: initial !important; }
    
    .nav-bar a {
        display: none;
        color: rgba(255,255,255, 1);
        font-size: 1.5rem;
        justify-content: center;
    }

    .nav-bar a:hover:not(.cta-link) { color: var(--grayish-blue); }
    .nav-bar a:hover { background: var(--dark-grayish-violet); }

    .cta-link {
        border-color: var(--very-light-gray);
        margin: 0 2em;
        height: 75px !important;
    }

    .cta-link:hover {
        background: var(--very-light-gray) !important;
        color: var(--very-dark-violet);
    }

    /*  */

    #menu-btn:checked ~ .nav-bar,
    #menu-btn:checked ~ .nav-bar ul,
    #menu-btn:checked ~ .nav-bar li,
    #menu-btn:checked ~ .nav-bar a
    { 
        transition: height 0.5s ease-in; 
        height: 100%; 
    }

    #menu-btn:checked ~ .nav-bar {
        overflow: initial;
        height: calc(100vh - var(--nav-size));
    }
    
    #menu-btn:checked ~ .nav-bar a {
        display: flex !important;
    }
}

/*  */

/* === HERO === */

.hero-section {
    background: var(--dark-violet);
    color: var(--very-light-gray);
}

.hero-section > div {
    display: flex;
    flex-flow: column;
    /* padding: 1em; */
}

/* .hero-picture {} */

.hero-picture img {
    --img-size: 100%;
    width: var(--img-size);
}

.hero-content {
    background: 
        url("../images/other/bg-pattern/bg-pattern-intro-left-mobile.svg") 
        no-repeat top left,
        url("../images/other/bg-pattern/bg-pattern-intro-right-mobile.svg") 
        no-repeat bottom right
    ;

    text-align: center;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
   
    height: 450px;
    /* padding: 0 1em; */
}

.hero-heading {
    font-size: 2.75rem;
    font-weight: 100;
    font-family: var(--DM-serif);
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
    /* hyphens: auto; */
}

.hero-tagline {
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 1.1em 0 1.5em;
}



@media (min-width: 1100px) {
    .hero-picture, .hero-content
    { padding: initial !important; }
}

@media (min-width: 805px) {
    .hero-section {
        background-color: var(--dark-violet) !important;
        background: 
            url("../images/other/bg-pattern/bg-pattern-intro-left-desktop.svg") 
            bottom left no-repeat,
            url("../images/other/bg-pattern/bg-pattern-intro-right-desktop.svg") 
            top right no-repeat
        ;
        height: 600px;
    }

    .hero-section > div {
        flex-flow: row;
        padding-top: 6.5em;
    }
    
    .hero-picture,
    .hero-content
    { flex: 1; }

    .hero-picture { order: 2; }
    .hero-content { order: 1; }

    .hero-picture { padding: 0 1.5em; }
    .hero-picture img { height: initial !important; }

    .hero-content {
        background: initial;
        display: block;
        text-align: initial;
        height: initial;
        /* padding: initial; */
        /* padding-right: 1em; */
        /* padding-right: 3.75em; */
    }

    .hero-line {
        background: var(--very-light-gray);
        display: block;
    }

    .hero-heading {
        font-size: 4.25rem;
        margin-bottom: 0.58em;
    }

    .hero-tagline { 
        font-size: 0.938rem;
        margin: initial; 
        max-width: 470px;
        margin-bottom: 2.75em;
    }
}

@media (min-width: 405px) {
    .hero-picture img {
        object-fit: cover;
        object-position: 0 40%;
        height: 465px;
    }
}

/* === MAIN === */

.main-section > div {
    text-align: center;
    padding: 8em 0;
}

.main-line {
    background: var(--dark-grayish-violet);
    display: inline-block;
}

.main-heading {
    font-size: 	2.75rem;
    font-weight: 100;
    font-family: var(--DM-serif);
    letter-spacing: 0.05px;
    margin-bottom: 1em;
}

/* .services-section { padding: 0 1em; } */

.service {
    max-width: 355px;
    margin: 0 auto;
}

.s-img { margin-bottom: 2em; }
.s-text { margin-bottom: 3em; }

.section-title {
    font-size: 	1.6875rem;
    font-weight: 100;
    font-family: var(--DM-serif);
    letter-spacing: 0.05px;
    margin-bottom: 0.8em;
}

.section-desc {
    color: var(--dark-grayish-violet);
    line-height: 1.6;
    letter-spacing: 0.05px;
}



@media (min-width: 820px) {
    .main-section > div {
        text-align: initial;
        padding: 19.5em 0 8em;
    }

    .main-line { margin-bottom: 4em; }

    .main-heading { 
        font-size: 4.25rem; 
        margin-bottom: 1.3em;
    }

    .services-section {
        display: flex;
        padding: initial;
    }

    .service { 
        display: block !important;
        padding-right: 1em; 
    }
    
    .s-img { margin-bottom: 1.75em !important; }
    .s-text { margin-left: initial !important; }
    .section-title { 
        font-size: 1.6875rem;
        margin-bottom: 0.75em !important;
    }
    .section-desc { font-size: 0.9375rem; }
}



@media (min-width: 620px) {
    .main-section > div { text-align: initial; }
    
    .service {
        display: flex;
        max-width: 585px;
        margin: 0 0 2.5em 0 !important;
    }
    
    /* .service > * { margin-bottom: 3em; } */
    .s-img { margin-bottom: initial; }
    .s-text { margin: 0 0 0 0.75em; }
    .section-title { 
        line-height: 1.4; 
        margin-bottom: initial;
    }
}

/* === INFO === */

.info-section > div {
    text-align: center;
    padding-bottom: 8em;
}

.info-panel {
    background-color: var(--dark-violet) !important;
    background: 
        url("../images/other/bg-pattern/bg-pattern-how-we-work-mobile.svg") 
        no-repeat top right
    ;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    height: 310px;
    /* margin: 0 2em; */
    padding: 0 1em;
}

.info-heading {
    color: var(--very-light-gray);
    font-size: 2.3125rem;
    font-weight: 100;
    font-family: var(--DM-serif);
    letter-spacing: 0.5px;
    margin-bottom: 1.05em;
}



@media (min-width: 1080px) {
    .info-panel { margin: 0 auto; }
}

@media (min-width: 820px) {
    .info-section > div { text-align: initial; }

    .info-panel {
        background: 
            url("../images/other/bg-pattern/bg-pattern-how-we-work-desktop.svg") 
            no-repeat right
        ;
        background-size: contain;

        flex-flow: row;
        justify-content: space-between;
        height: 250px;
        padding: 0 5em;
    }

    .info-heading {
        font-size: 3.125rem;
        margin-bottom: initial;
    }
}

/* === FOOTER === */

footer {
    border-top: 1px solid rgba(204, 204, 204, 0.25);
    background-color: var(--very-light-gray) !important;
    background: 
        url("../images/other/bg-pattern/bg-pattern-footer-mobile.svg")
        top left no-repeat
    ;
}

footer > div {
    font-size: 0.8125rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* padding: 0 1em; */
}

.footer-social-bar {
    border-bottom: 1px solid var(--light-gray);
    padding: 6.5em 0 2.75em;
}

footer .logo { margin-bottom: 1em; }

footer .logo {
    display: inline-block;
    font-size: 1.25rem;
    font-family: var(--Krona); 
    /* font-weight: 100; */
}
.social-links,
.social-links ul,
.social-links li
{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.social-links ul:hover .s-icon { filter: blur(1px); }
.social-links li:not(:first-child) { margin-left: 1em; }

.s-icon { 
    cursor: pointer; 
    transition: all 0.2s linear;
}

.s-icon:hover { filter: brightness(0.1) !important; }

/* .facebook:hover {  } */
/* .twitter:hover {  } */
/* .pinterest:hover {  } */
/* .instagam:hover {  } */

.footer-nav { margin-bottom: 5.5em; }

.ftr-nav-section-title {
    color: var(--dark-grayish-violet);
    /* line-height: 5; */
    line-height: 6.25;
    /* margin: 1em 0; */
}

/* .ftr-nav-section li:not(:last-child) a { */
.ftr-nav-section a {
    /* color: var(--very-dark-violet); */
    position: relative;
    display: inline-block;
    /* height: 1em; */
    /* margin-bottom: 0.625em; */
    margin-bottom: 1.2em;
}

.ftr-nav-section li:last-child a { margin: initial; }

.ftr-nav-section a::after {
    content: "";
    position: absolute;
    display: block;

    background: #000;
    width: 100% ;
    height: 0;
}

.ftr-nav-section a:hover::after { height: 2px; }

/*  */

.footer-info {
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0.75em;
}


.footer-info a { font-weight: 700; }
.footer-info a:hover { color: var(--grayish-blue); }
.footer-info i { letter-spacing: 0.3em; }



@media (min-width: 820px) {
    footer > div {
        text-align: initial;
        padding: initial;
        /* display: flex; */
    }

    .footer-social-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5em 0 2.5em;
    }

    footer .logo { margin-bottom: initial; }

    .ftr-nav-section { 
        width: initial !important;
        max-width: initial !important;
        margin-right: auto; 
    }

    .ftr-nav-section a { margin-bottom: 1.5em; }

}

@media (min-width: 455px) {
    footer {
        background: 
            url("../images/other/bg-pattern/bg-pattern-footer-desktop.svg")
            top left no-repeat
        ;
    }

    .footer-nav {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
        margin-bottom: 4.5em;
    }

    .ftr-nav-section { 
        width: 100%;
        max-width: 275px;
    }
}